@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model QuadrantsData

<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 border">
                <!-- Quadrant 1 content -->
                <div>
                    <h4>Quadrant I - Important / Urgent</h4>
                    <table>
                        <tbody>
                            @foreach (var task in Model.QuadrantOne)
                            {
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate</td>
                                    <td>@task.Category.CategoryName</td>
                                    <td>Completed?: <input type="checkbox" value="@task.Completed" /></td>
									<td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a></td>
									<td><a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 border">
                <!-- Quadrant 2 content -->
                <div>
                    <h4>Quadrant II - Important / Not Urgent</h4>
                    <table>
                        <tbody>
                            @foreach (var task in Model.QuadrantOne)
                            {
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate</td>
                                    <td>@task.Category.CategoryName</td>
                                    <td>Completed?: <input type="checkbox" value="@task.Completed" /></td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a></td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border">
                <!-- Quadrant 3 content -->
                <div>
                    <h4>Quadrant III - Not Important / Urgent</h4>
                    <table>
                        <tbody>
                            @foreach (var task in Model.QuadrantOne)
                            {
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate</td>
                                    <td>@task.Category.CategoryName</td>
                                    <td>Completed?: <input type="checkbox" value="@task.Completed" /></td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a></td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 border">
                <!-- Quadrant 4 content -->
                <div>
                    <h4>Quadrant IV - Not Important / Not Urgent</h4>
                    <table>
                        <tbody>
                            @foreach (var task in Model.QuadrantOne)
                            {
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate</td>
                                    <td>@task.Category.CategoryName</td>
                                    <td>Completed?: <input type="checkbox" value="@task.Completed" /></td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a></td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
